{% extends "layout.html" %} {% block body %}
{% for endpoint in ENDPOINTS %}
<a class="w3-bar-item w3-button" href="{{ url_for(endpoint) }}">{{ endpoint }}</a>
<br> {% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script type="text/javascript" src="{{ url_for('static', filename='js/videoPreview.js')}}"></script>
<!--
Data: https://gfycat.com/cajax/get/VerifiableTerrificHind

Source: https://www.youtube.com/watch?v=nZcejtAwxz4

More info on youtube api for thumbnails: http://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api
-->
<div id="videosList">

  <div class="video">
    <video class="thevideo" loop preload="none">
      <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4">
      <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
    Your browser does not support the video tag.
    </video>
  </div>
  Hover mouse over video. Desktop only [ Obviously! ;) ]
</div>


{% endblock %}
