<!doctype html>
<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.min.js"></script>
</head>
<body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/particles.js')}}">
  {% if DaBoi is defined %}
      alertSWAG({{DaBoi}});
  {% endif%}
  </script>


</body>
<html>
